<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>everfreight.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E23D6911D2C4AF80035795C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E23D6AD1D2C4AF90035795C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E23D6B81D2C4AFA0035795C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
